@mixin fontstyle() {
  color: $text-color;
  font-family: $roboto-Regular;
  font-size: 12rem;
}

@mixin active-key() {
  background: linear-gradient(
    241deg,
    #39ffcc,
    #39d2ff,
    #ff39c3,
    #ff3939,
    #faff39,
    #25fb0f
  );
  background-size: 1200% 1200%;
  -webkit-animation: gradient-animation 22s ease infinite;
  -moz-animation: gradient-animation 22s ease infinite;
  -o-animation: gradient-animation 22s ease infinite;
  animation: gradient-animation 22s ease infinite;
  @-webkit-keyframes gradient-animation {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
  @-moz-keyframes gradient-animation {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
  @-o-keyframes gradient-animation {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
}
