$bgGrad: linear-gradient(285.81deg, #00ffc2 6.69%, #bd00ff 100.21%),
  linear-gradient(90deg, #abbac8 0%, #b4c4d2 100%), #c4c4c4;
$deskGrad: linear-gradient(180deg, rgba(0, 26, 255, 0) 0%, #2e1c60 100%);
$keyborder: rgba(152, 113, 113, 0.26);
$keyborder-dark: rgba(152, 113, 113, 0.5);
$color: #625c5c;
