$bgGrad: linear-gradient(285.81deg, #00FFC2 6.69%, #BD00FF 100.21%), linear-gradient(90deg, #ABBAC8 0%, #B4C4D2 100%), #C4C4C4;
$deskGrad: linear-gradient(180deg, rgba(0, 26, 255, 0) 0%, #2E1C60 100%);
$keyborder: rgba(152, 113, 113, 0.26);
$keyborder-dark: rgba(152, 113, 113, 0.5);
$color: #625c5c;
